body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(./images/img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

.container {
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0);
    /* background-color: rgba(255, 255, 255, 0.664); */
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 32px;
}

.temp-container {
    width: 80%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}

.input {
    width: 220px;
    font-family: monospace;
    padding: 5px;
    float: right;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    color: rgb(8, 31, 235);
    font-size: 18px;
}


.input::placeholder {
    color: rgb(88, 88, 88);
}